.container {
    left: 0;
    top: 0;
    position: absolute;
    transform-style: preserve-3d;
}

.label {
    width: 20px;
    height: 60px;
    position: absolute;
    top: -60px;
    left: -1px;
    transform-style: preserve-3d;
    transform-origin: 1px bottom;
}
.labelBar {
    position: absolute;
    background-color: #fff;
    top: 6px;
    left: 0;
    width: 2px;
    bottom: 2px;
}
.labelValue {
    color: #264653;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0;
    left: 4px;
}

.floorLabel {
    transform: rotateZ(270deg);
    position: absolute;
    top: -38px;
    left: -8px;
    color: #264653;
}

.token {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #264653;
    position: absolute;
    top: -5px;
    left: -5px;
    transform-style: preserve-3d;
}
.tokenWrapper {
    position: absolute;
    transform-style: preserve-3d;
    animation: throw1 500ms ease;
}
.tokenWrapper:nth-child(3n + 1) {
    animation-name: throw2;
}
.tokenWrapper:nth-child(3n + 2) {
    animation-name: throw3;
}

@keyframes throw1 {
    0% {
        transform: translate3d(180px, 0, 0);
        opacity: 0;
    }
    20% {
        transform: translate3d(120px, 0, 40px);
        opacity: 1;
    }
    40% {
        transform: translate3d(60px, 0, 40px);
        opacity: 1;
    }
    60% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes throw2 {
    0% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    20% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    40% {
        transform: translate3d(120px, 0, 40px);
        opacity: 1;
    }
    60% {
        transform: translate3d(60px, 0, 40px);
        opacity: 1;
    }
    80% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes throw3 {
    0% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    40% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    60% {
        transform: translate3d(120px, 0, 40px);
        opacity: 1;
    }
    80% {
        transform: translate3d(60px, 0, 40px);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
