.container {
    left: 0;
    top: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 500ms ease;
}

.label {
    position: absolute;
    top: -50px;
    left: -10px;
    color: #264653;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: #fff;*/
}
.labelBar {
    background-color: #264653;
    position: absolute;
    top: -28px;
    left: -1px;
    height: 12px;
    width: 2px;
}

.token {
    position: absolute;
    transform-style: preserve-3d;
    animation: throw1 500ms ease;
}
.token:nth-child(3n + 1) {
    animation-name: throw2;
}
.token:nth-child(3n + 2) {
    animation-name: throw3;
}

@keyframes throw1 {
    0% {
        transform: translate3d(180px, 0, 0);
        opacity: 0;
    }
    20% {
        transform: translate3d(120px, 0, 40px);
        opacity: 1;
    }
    40% {
        transform: translate3d(60px, 0, 40px);
        opacity: 1;
    }
    60% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes throw2 {
    0% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    20% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    40% {
        transform: translate3d(120px, 0, 40px);
        opacity: 1;
    }
    60% {
        transform: translate3d(60px, 0, 40px);
        opacity: 1;
    }
    80% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes throw3 {
    0% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    40% {
        transform: translate3d(200px, 0, 0);
        opacity: 0;
    }
    60% {
        transform: translate3d(120px, 0, 40px);
        opacity: 1;
    }
    80% {
        transform: translate3d(60px, 0, 40px);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
