.container {
}
.world {
  transform-style: preserve-3d;
}

.card {
  transition: transform 500ms ease;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
