.container {
    left: 0;
    top: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 500ms ease;
}
.confettiWrapper {
}
.confetti {
    transform-origin: center;
    position: absolute;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: -15px;
}
